* {
	font-family: Geneva, Arial, Helvetica, sans-serif;
}

html {
	height: 100%;
}

body {
	background-image: url(../images/head_bg.jpg);
	background-position: center top;
	background-repeat: repeat-x;
	color: #666666;
	font: 12px/1.231 Geneva, Arial, Helvetica, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}

p {
	line-height: 22px;
	margin-top: 0;
}

form p {
	padding-top: 10px;
}

h1,legend {
	font-size: 20px;
	color: #0C356A;
	margin: 0 0 10px 0;
}

legend {
	padding: 0 10px;
}

h2 {
	font-size: 14px;
	color: #0C356A;
	margin: 0px 0px 10px 0px;
}

h3 {
	font-size: 12px;
	color: #0C356A;
	margin: 0;
	font-weight: bold;
}

h4 {
	font-size: 20px;
	color: #383838;
	margin: 0;
}

h5 {
	font-size: 14px;
	color: #383838;
	margin: 0;
}

a {
	text-decoration: none;
	color: #347BA2;
}

img {
	border: none;
}

ol,ul {
	line-height: 22px;
	margin-top: 0px;
}

label {
	display: inline-block;
	width: 100px;
	font-size: 14px;
}

fieldset {
	width: 350px;
	text-align: center;
	margin: 0 auto;
	padding: 20px;
}

fieldset#register {
	width: 400px;
	margin: 0 auto;
	padding: 20px;
}

fieldset#register label {
	width: 150px;
	text-align: left;
}

fieldset#contact {
	width: 400px;
	margin: 0 auto;
	padding: 20px;
}

fieldset#contact label {
	width: 150px;
	text-align: left;
	vertical-align: top;
}

fieldset#contact textarea {
	resize: none;
	background-image: url(../images/form_bg.jpg);
}

fieldset#contact input[type="submit"] {
	margin-left: 310px;
}

fieldset#contact p {
	padding-top: 3px;
}

fieldset#contact p.error {
	padding-left: 170px;
	text-align: left;
}

fieldset p.error {
	padding-left: 30px;
}

fieldset#forgot_password input[type="submit"] {
	margin-left: 252px;
}

fieldset#forgot_password p {
	padding-top: 3px;
}

.sub_box_text h2 {
	font-size: 16px;
	color: #0C356A;
	margin: 0 0 15px 0;
	padding-top: 10px;
}

.wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -61px;
}

#secondary .no_left_menu {
	background: url(../images/bgr.png) no-repeat 56px 222px;
}

.no_left_menu #main_content {
	background: url(../images/bgr.png) no-repeat scroll -96px 0 transparent;
	min-height: 350px;
}

.footer,.push {
	height: 61px;
}

#header_wrap {
	background-repeat: no-repeat;
	margin: 0 auto;
	height: 421px;
	background-image: url(../images/header.jpg);
	background-position: top center;
}

#header_wrap_alt {
	background-repeat: no-repeat;
	margin: 0 auto;
	height: 421px;
	background-image: url(../images/header_alternative.jpg);
	background-position: top center;
}

#header {
	width: 980px;
	height: 421px;
	margin: 0 auto;
}

#header_upper {
	width: 960px;
	float: left;
}

#header_logo {
	width: 280px;
	float: left;
	height: 95px;
}

#header_lower {
	width: 980px;
	float: left;
}

#header_lower_alt {
	width: 892px;
	float: left;
	padding-left: 43px;
}

#header_sub {
	float: left;
	width: 390px;
}

#header_sub h1 {
	color: #FFF;
	margin-bottom: 0;
	font-weight: bold;
	font-size: 35px;
	letter-spacing: 1px;
	padding: 30px 0 0 35px;
}

#header_sub h2 {
	color: #FFF;
	padding: 0 0 0 35px;
	line-height: 25px;
	font-weight: normal;
	font-size: 14px;
}

#header_sub h3 {
	color: #1F4575;
	font-size: 20px;
}

#header_sub h4 {
	color: #666;
	font-size: 14px;
	font-weight: normal;
}

#header_sub_text {
	float: left;
	padding-left: 30px;
	width: 250px;
	margin-right: 10px;
}

#header_sub_text h1 {
	color: #383838;
	margin-bottom: 0px;
	letter-spacing: -1px;
	font-size: 16px;
}

#header_sub_text h2 {
	color: #999999;
}

#header_sub_text_secondary {
	float: left;
	width: 350px;
	margin-top: 40px;
	color: #FFF;
}

#header_sub_text_secondary p {
	width: 475px;
	font-size: 28px;
	color: #FFF;
	font-weight: bold;
	margin-bottom: 0;
}

#header_sub_button {
	float: left;
	padding-top: 20px;
	width: 50px;
}

#header_secondary {
	width: 980px;
	height: 187px;
	margin: 0 auto;
}

#header_wrap_secondary {
	background-repeat: no-repeat;
	margin: 0 auto;
	height: 187px;
	background-image: url(../images/header_secondary.jpg);
	background-position: top center;
}

#header_sub_headline {
	float: left;
	width: 390px;
	height: 220px;
}

#header_sub_port {
	float: left;
	width: 390px;
	margin-top: 15px;
}

#header_sub_secondary {
	float: left;
	padding-top: 0;
	width: 390px;
	padding-left: 35px;
}

#header_sub_secondary_right {
	float: right;
	padding-top: 0;
	width: 390px;
	margin-top: 40px;
	font-size: 18px;
	color: #FFF;
	text-align: right;
	padding-right: 15px;
}

#navs {
	float: right;
	background-repeat: no-repeat;
	width: auto;
}

#navs a {
	text-decoration: none;
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
	display: block;
	float: left;
	padding: 12px 20px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: auto;
}

#navs a:hover {
	background-image: url(../images/nav_hover2.jpg);
	background-position: top center;
	background-repeat: no-repeat;
}

#navs_left {
	float: left;
	height: 49px;
	width: 11px;
	background-image: url(../images/nav_left.png);
}

#navs_right {
	float: left;
	height: 49px;
	width: 11px;
	background-image: url(../images/nav_right.png);
	margin-left: -1px;
}

#navs_center {
	height: 49px;
	background-image: url(../images/nav_center.jpg);
	float: left;
	background-repeat: repeat-x;
	margin-right: 0;
	width: auto;
}

#navs ul {
	margin: 0;
	padding-left: 5px;
}

#navs li {
	display: inline;
	margin: 0;
}

#navs .current {
	background-image: url(../images/nav_hover2.jpg);
	background-position: top center;
	background-repeat: no-repeat;
}

#page {
	width: 960px;
	margin: 0 auto;
	padding: 0 0 30px 0;
	background-repeat: repeat-x;
}

#page_secondary {
	width: 960px;
	margin: 0 auto;
	padding: 35px 0 30px 0;
	background-image: url(../images/left_bg.jpg);
	background-repeat: no-repeat;
	height: 100%;
	min-height: 250px;
}

#sub_boxes {
	float: left;
	margin: 0 0 20px 0;
	background-image: url(../images/vert_separator.gif);
	background-repeat: no-repeat;
	background-position: right;
	width: auto;
}

.sub_box {
	width: 270px;
	float: left;
	background-image: url(../images/vert_separator.gif);
	padding: 15px 20px 10px 30px;
	background-repeat: no-repeat;
	background-position: left;
}

.sub_box_right {
	width: 270px;
	float: left;
	background-image: url(../images/vert_separator.gif);
	padding: 15px 20px 10px 30px;
	background-repeat: no-repeat;
	background-position: left;
}

.sub_box_image {
	margin-right: 8px;
	vertical-align: middle;
	float: left;
	width: auto;
}

#secondary {
	background-image: url(../images/head_bg_secondary.jpg);
	background-repeat: repeat-x;
}

#featured_wrap {
	float: left;
	width: auto;
}

#featured {
	width: 815px;
	float: left;
	background-repeat: no-repeat;
	padding: 20px 20px 10px 20px;
	background-image: url(../images/featurebg.jpg);
	height: 248px;
}

#featured_image {
	padding: 5px;
	float: left;
	border: solid 1px #cacaca;
	min-width: 400px;
	min-height: 190px;
	width: auto;
}

#featured_text {
	float: left;
	margin-left: 20px;
	width: 365px;
}

#featured_bottom {
	width: 855px;
	height: 12px;
	margin: 0 auto;
	background-image: url(../images/featurebg_bottom.jpg);
	float: left;
}

#main_content {
	float: left;
	width: 960px;
}

#main_content_left {
	width: 600px;
	float: left;
}

#main_content_left_secondary {
	width: 700px;
	float: right;
}

.center {
	text-align: center;
}

#main_content_right {
	width: 285px;
	float: right;
	background-image: url(../images/right_sidebar_bg.gif);
	background-repeat: no-repeat;
	padding: 15px 20px 10px 20px;
}

#main_content_right ul {
	padding: 0;
	margin: 0 0 15px 10px;
}

#main_content_right li {
	padding-left: 25px;
	height: 30px;
	font-weight: bold;
	list-style-type: none;
	background-image: url(../images/check.png);
	background-repeat: no-repeat;
	margin: 0;
}

#logo {
	height: 75px;
	width: 150px;
}

/************/
/** FOOTER **/
/************/
#footer_wrap {
	background-image: url(../images/footer_bg.jpg);
	background-repeat: repeat-x;
	height: 61px;
}

#footer {
	color: #FFF;
	font-size: 11px;
	height: 36px;
	margin: 0 auto;
	padding: 25px 0 0;
	width: 960px;
}

#footer a {
	color: #FFF;
}

#footer a:hover {
	text-decoration: underline;
}

#footer_left {
	float: left;
	width: 400px;
}

#footer_right {
	float: right;
	width: 400px;
	text-align: right;
}

a.button {
	background: url(../images/button_bg.jpg) repeat-x;
	padding: 5px 10px;
	color: #FFF;
	text-decoration: none;
	border: 1px solid #32312f;
	font-size: 10px;
	line-height: 25px;
	margin-left: 10px;
	margin-right: 10px;
}

a.button:hover {
	background: url(../images/button_o.jpg) repeat-x;
	border: 1px solid #32312f;
}

.input,textarea {
	background-image: url(../images/form_bg.jpg);
	background-repeat: repeat-x;
	border: 1px solid #ccc;
	font-size: 11px;
	margin-right: 4px;
	padding: 5px;
	margin-top: 3px;
	margin-bottom: 10px;
}

#left_navigation {
	float: left;
	width: 184px;
	margin-left: 40px;
}

#left_navigation ul {
	margin-left: 0;
	padding-left: 0;
}

#left_navigation li {
	border-top: solid 1px #DCDDDE;
	border-bottom: solid 1px #FFF;
	list-style-type: none;
	margin-left: 0;
	padding: 8px 0;
}

#left_navigation a {
	color: #175386;
	font-weight: bold;
	padding: 8px 0 8px 10px;
}

#left_navigation_contact {
	float: left;
	width: 184px;
	margin-right: 35px;
}

#left_navigation_contact a {
	color: #175386;
	font-weight: normal;
	padding: 0 0 8px 0;
}

#left_navigation h2 {
	color: #666;
	font-size: 11px;
	font-weight: normal;
	padding-left: 34px;
	margin: 0;
	width: 140px;
	line-height: 12px;
}

#left_navigation li:hover {
	border-top: solid 1px #DCDDDE;
	border-bottom: solid 1px #FFF;
	list-style-type: none;
	margin-left: 0;
	padding: 8px 0;
	background: url(../images/nav_hover.png) repeat-y;
	display: block;
}

.active {
	border-top: solid 1px #DCDDDE;
	border-bottom: solid 1px #FFF;
	list-style-type: none;
	margin-left: 0;
	padding: 8px 0;
	background: url(../images/nav_hover.png) repeat-y;
	display: block;
}

.page_column {
	float: left;
	width: 300px;
	margin-right: 20px;
	background-image: url(../images/column_bg.gif);
	background-repeat: repeat-x;
	padding: 5px 15px 15px 15px;
	border-top: 1px solid #DDD;
	margin-top: 15px;
}

.page_column .img {
	float: left;
	margin-right: 20px;
	margin-top: 5px;
	width: auto;
}

.page_column h4 {
	font-size: 14px;
	color: #1A5A8A;
	font-weight: bold;
	padding: 5px 5px 5px 0;
	border-bottom: dotted 1px #ccc;
	margin: 0 0 5px 0;
}

.page_column h5 {
	font-size: 14px;
	color: #1A5A8A;
	font-weight: bold;
	padding: 5px 5px 5px 0;
	border-bottom: dotted 1px #CCC;
	margin: 0 0 0 60px;
}

.button {
	background: url(../images/button_bg.jpg) repeat-x;
	padding: 4px 20px;
	color: #FFF;
	text-decoration: none;
	border: 1px solid #32312f;
	font-size: 10px;
	background-color: #22457A;
}

.slider-wrap {
	float: right;
	width: auto;
}

.slider-wrap-alt {
	float: right;
	height: 261px;
	width: 892px;
	overflow: hidden;
	border: solid 1px #CCC;
}

.slider {
	width: 495px;
	padding: 12px 45px 0 0;
	overflow: hidden;
	height: 255px;
}

.slider_nav {
	width: 550px;
	float: right;
	margin-top: 18px;
}

.slider_nav_long {
	width: 900px;
	float: right;
	margin-top: 18px;
}

.slider_nav_left {
	float: left;
	margin-top: 3px;
	width: auto;
}

.slider_nav_right {
	float: right;
	padding-right: 20px;
	width: auto;
}

#myController span {
	float: left;
	background: #eaeaea;
	margin-right: 10px;
	cursor: pointer;
	padding: 5px 8px;
	border: solid 1px #ccc;
	color: #104E82;
}

#myController span.jFlowSelected {
	background: #104E82;
	margin-right: 10px;
	cursor: pointer;
	padding: 5px 8px;
	border: solid 1px #ccc;
	color: #eaeaea;
	float: left;
}

#slide1 {
	background-image: url(../images/slide2.jpg);
	width: 892px;
	height: 261px;
}

#slide2 {
	background-image: url(../images/slide1.jpg);
	width: 892px;
	height: 261px;
}

#slide3 {
	background-image: url(../images/slide3.jpg);
	width: 892px;
	height: 261px;
}

.slide_headline_wrap {
	float: left;
	width: 345px;
}

.slide_headline_wrap_right {
	float: right;
	width: 345px;
}

.slide_headline {
	float: left;
	width: 300px;
	padding: 30px 0 0 30px;
	color: #FFF;
}

.slide_subheadline {
	float: left;
	width: 330px;
	margin-top: 15px;
	color: #FFF;
}

.slide_subheadline_text {
	float: left;
	padding-left: 30px;
	width: 240px;
	margin-right: 10px;
	color: #FFF;
	font-size: 14px;
}

.slide_headline h1 {
	margin: 0 0 10px 0;
	color: #FFF;
	font-size: 34px;
}

.slide_headline h2 {
	margin: 0 0 10px 0;
	color: #FFF;
	font-size: 18px;
	font-weight: normal;
}

.slide_button {
	float: left;
	width: auto;
}

table {
	margin: 10px;
	font-size: inherit;
	width: inherit;
}

th {
	padding-right: 20px;
	text-align: right;
	color: #CDBB98;
	font-weight: bold;
}

th,td {
	vertical-align: top;
	color: #CDBB98;
}

input[type="text"],input[type="button"],input[type="submit"],input[type="password"],input[type="email"],textarea
	{
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 4px 5px;
}

input[type="text"],input[type="password"],input[type="email"] {
	width: 200px;
	height: 20px;
	font-size: 12px;
}

textarea {
	width: 200px;
	height: 100px;
	font-size: 12px;
}

input[type="text"]:focus,input[type="password"]:focus,input[type="email"]:focus,textarea:focus
	{
	border: 1px solid #D0D0D0;
	box-shadow: 0 1px 2px #D0D0D0 inset;
}

input[type="submit"],#register input[type="button"] {
	margin-left: 266px;
	font-size: 13px;
}

#addBudgetRow input[type="button"],#addBudget {
	font-size: 13px;
}

input[type="submit"]:hover,input[type="button"]:hover {
	cursor: pointer;
	border: 1px solid #D0D0D0;
	box-shadow: 0 1px 2px #D0D0D0 inset;
}

pre,code,kbd,samp,tt {
	font-family: monospace;
	font-size: 108%;
	line-height: 100%;
}

input,select,select.MB_focusable,textarea {
	background-color: #F9F9F9;
	border: 1px solid #F2E0E2;
}

a.sortheader {
	text-decoration: none;
}

a:link,a.sortheader:link {
	color: #006666;
}

a:visited,a.sortheader:visited {
	color: #669999;
}

#status {
	color: #CDBB98;
	min-height: 1em;
	padding: 5px;
}

.errorinput {
	background-color: #CDBB98;
}

/******** MAIN CONTENT ********/
table.panel {
	width: 95%;
	border-collapse: collapse;
}

table.panel td.none {
	padding-left: 1em;
	color: #b22222;
}

table.panel th {
	padding-right: 1em;
	text-align: left;
	font-weight: bold;
	border-bottom: 1px dashed #ACB6BF;
}

table.panel td {
	padding-right: 0.5em;
	vertical-align: top;
}

table.panel td.odd,td.odd {
	background: #fafafa;
}

table.panel td.even,td.even {
	background: #FFF;
}

table.panel tr.odd,tr.odd {
	background: #fafafa;
}

table.panel tr.even,tr.even {
	background: #ffffff;
}

table.panel td.total {
	vertical-align: top;
	background: #FFF;
	border-top: 1px dashed #ACB6BF;
	font-weight: bold;
}

.searchpages a {
	text-decoration: none;
}

table.form th {
	text-align: right;
}

.Success {
	color: green;
}

tr.exception {
	background-color: #FF0000;
}

.Exception {
	color: red;
	font-weight: bold;
}

.containerSelect {
	width: 250px;
}

.pointer {
	cursor: pointer;
}

a.button,input.button,input.deleteButton {
	padding: 2px 10px 3px 10px;
	background-color: #005757;
	color: #FFF;
	border-style: none;
	font-weight: bold;
	cursor: pointer;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 10px 10px 5px black;
}

input:disabled {
	opacity: 0.6;
	filter: alpha(opacity = 60);
	color: #FFF;
}

input.disabledButton {
	padding: 2px 10px 3px 10px;
	background-color: #005757;
	opacity: 0.2;
	filter: alpha(opacity = 20);
	color: #FFF;
	border-style: none;
	font-weight: bold;
	cursor: default;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 10px 10px 5px black;
}

input.deleteButton {
	background-color: RED;
}

.inputwidth {
	width: 200px;
}

.inputhalfwidth {
	width: 100px;
}

th.middlealign,td.middlealign {
	vertical-align: middle;
}

th.centeralign,td.centeralign {
	text-align: center;
	padding: 0 5px;
}

th.leftalign,td.leftalign {
	text-align: left;
	padding-left: 5px;
}

th.rightalign,td.rightalign {
	text-align: right;
	padding-right: 5px;
}

th.topalign,td.topalign {
	vertical-align: top;
}

div.floatleft {
	float: left;
}

div.floatright {
	float: right;
}

.clear {
	clear: both;
}

#rsvp_section {
	width: 490px;
}

table#guests {
	width: 480px;
}

table#guests td {
	width: 50%;
}

.jFlowSlideContainer {
	position: relative;
	width: 495px;
	height: 255px;
	float: left;
}

.error {
	font-style: italic;
	color: red;
}

/*
#addBudgetRow {
    display: none;
}
*/
div.account form input[type="submit"] {
	margin-left: 250px;
}

div.account form:first-child input[type="submit"] {
	margin-left: 210px;
}

#addBudgeted {
	width: 100px;
}

.progress {
	position: relative;
	width: 300px;
	border: 1px solid #ddd;
	padding: 1px;
	border-radius: 3px;
	margin-left: 42px;
	margin-bottom: 5px;
}

.bar {
	background-color: #B4F5B4;
	width: 0%;
	height: 20px;
	border-radius: 3px;
}

.percent {
	position: absolute;
	display: inline-block;
	top: 3px;
	left: 48%;
}